[Desktop Entry]
Type=Application
Name=Jagex Launcher
Comment=The Jagex Launcher is the new home for Jagex's PC games library. Discover, install, and play games from the RuneScape universe and beyond.
Terminal=false
Categories=Game;
Icon=com.jagex.Launcher
Exec=/app/bin/launch.sh --disable-gpu-sandbox --no-sandbox
