---
---

@import "{{ site.theme }}";

h1:first-of-type {
    display: none;
}

.btn {
    border: 1px solid black;
    background-color: gray;
    text-decoration: none;
    color: white;
    padding: 0.3em;
}

.btn:hover {
    text-decoration: none;
}
